# The URL pointing to your backend express server
# If you are running locally via `npm run dev` and `docker-compose up`, this will be port 3000.
# If you deploy to production, this should be the deployed API's external URL.
VITE_API_URL=http://localhost:3000