# The port for the Express API to listen on (Default: 3000)
PORT=3000

# Your MongoDB Connection String
# e.g., mongodb://localhost:27017/ReleaseCheck (for local) 
# or mongodb+srv://<user>:<password>@cluster0.ex.mongodb.net/ReleaseCheck (for Atlas)
MONGO_URI=mongodb://localhost:27017/ReleaseCheck